.tour-content-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% top;

  @media (min-width: $screen-xl) {
    background-position: 20% 20%;
  }
}

.tour-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tour-content__intro {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.tour-content__events {
  flex: 1 0 auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

.event-nav {
  margin: 30px 0 0;
}

.events-feedback {
  padding: 60px 0;
}

.events-group-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0;
  padding: 0;

  list-style: none;
}

.events-group__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.events-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.event__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;

  &--past {
    text-decoration: line-through;
    color: $brand-color-tertiary-light;
  }

}

.event__item-date-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: right;

  .date {
    color: $text-color-base;
  }

  .date__day {
    margin: 0;

    font-weight: 600;

    &--block {
      display: block;
      margin: 0.2em 0;

      line-height: 1.55em;
    }
  }

  .date__month {
    font-weight: 400;

    &:before {
      content: '.';
      margin: 0 1px;
    }
  }

  @media (min-width: $screen-sm) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;

    .date__day {

      &--block {
        display: inline;
        line-height: normal;
      }

      &:first-of-type {
        padding-right: 6px;
      }

    }

  }

}

.event__item-location-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  text-align: left;

  > .location__map {
    margin: 0.2em 0;

    font-weight: 600;
    color: $text-color-base;

    > .city {
    }

    > .country {
      text-transform: uppercase;
    }

  }

  > .location__spot {
    margin: 0.3em 0;

    font-weight: 400;

    > .place {
      text-transform: capitalize;
    }

    > .hour {
      white-space: nowrap;
    }
  }

  @media (min-width: $screen-sm) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

}