.section {
}

.section-content-container {
  width: 100%;
}

.section-content {
  max-width: $screen-lg;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;

  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.section-title {
  text-transform: uppercase;
}

.section-subtitle {
  font-size: 0.6em;
  font-weight: 400;
  text-transform: none;

  @media (min-width: $screen-lg) {
    font-size: 0.5em;
  }
}

.section-lead,
.section-text {
  max-width: 650px;
  margin: 0 auto;
}