.bio-content__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 85px 0 30px;

  @media (min-width: $screen-sm) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

}

.member {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 20px auto;

  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;

  &:hover,
  &:focus {
    > .member__picture {
      &:before {
        opacity: 1;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
      }

      > .member__picture-text {
        opacity: 1;
        color: rgba($text-color-base, 1);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
      }
    }

    > .member__info-wrapper {

      > .member__info > p {
        color: $text-color-base;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
      }

      > .icon {
        opacity: 1;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
      }
    }
  }

  @media (min-width: $screen-sm) {
    -ms-flex-preferred-size: 100%/3;
    flex-basis: 100%/3;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: none;
    margin: 0 15px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

  }
}

.member__picture {
  position: relative;
  width: 100%;
  padding-bottom: 134%;

  background-size: cover;
  background-position: center top;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;

    background-color: rgba($brand-color-tertiary-dark, .7);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
  }
}

.member__picture-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
  opacity: 0;

  color: rgba($text-color-base, .8);
  text-transform: uppercase;
}

.member__info-wrapper {
  position: relative;
  padding: 8px 15px;
  background-color: $brand-color-tertiary-dark;

  > .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 5%;
    height: 25px;
    opacity: .7;
  }

  @media (min-width: $screen-lg) {
    > .icon {
      right: 8.4%;
    }
  }
}

.member__info {
  padding: 0 20px;

  > p {
    color: rgba($text-color-base, .7);
  }

  @media (min-width: $screen-lg) {
    padding: 0 35px;
  }
}

.member__name {
  margin: 5px 0;

  text-transform: uppercase;
  font-family: $font-family-headings;
  font-size: $font-size-h5-sm;

  @media (min-width: $screen-sm) {
    font-size: $font-size-h5-lg;
  }
}

.member__function {
  margin: 5px 0;
}