.music-content__items {
  position: relative;
  margin: 30px 0;

  > .slide-control {
    top: 30%;
    -webkit-transform: none;
    transform: none;
  }

  > .slide-control-next {
    right: 0;
  }

  > .slide-control-prev {
    left: 0;
  }

  @media (min-width: $screen-sm) {
    > .slide-control {
      top: $music-cover-size /2;
    }

    > .slide-control-next {
      right: 85px;
    }

    > .slide-control-prev {
      left: 85px;
    }
  }
}

.music-item-list {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
}

.music__item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  opacity: 0;
  text-align: center;

  transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;

  &.active {
    position: relative;
    z-index: 1;

    opacity: 1;

    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
  }
}

.music-cover {
  width: 80%;
  max-width: $music-cover-size;
  margin: 0 auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.music-teaser {
  margin: 15px 0 10px;

  text-transform: uppercase;
  letter-spacing: 3px;
}

.music-title {
  margin-top: 10px;

  font-family: $font-family-headings;
  font-weight: 900;
}

.music-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 20px -10px 0;
  padding: 0;

  list-style: none;
}

.music-btn__item {
  display: inline-block;
  margin: 10px;

  @media (min-width: $screen-sm) {
    margin: 0 10px;
  }
}