.btn {
  display: inline-block;
  margin: 50px auto;
  padding: 1em 2.6em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  font-family: $font-family-headings;
  font-weight: 400;
  color: $text-color-base;
  font-size: $font-size-base-sm;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  transition: all .3s, font-size 0s;
  -webkit-transition: all .3s, font-size 0s;

  background-color: transparent;
  border: 1px solid $text-color-base;

  &:hover,
  &:focus,
  &:active {
    transition: all .3s;
    -webkit-transition: all .3s;
  }

  @media (min-width: $screen-lg) {
    font-size: $font-size-base-lg;
  }

}

.btn-link {
  margin: 0;
  padding: 0;

  text-transform: none;
  border: none;
}

.btn-secondary {
  color: $brand-color-secondary;
  border: 1px solid $brand-color-secondary;
  background-size: 0 100%;
  background-image: -webkit-gradient(linear, right top, left top, from($brand-color-secondary), to($brand-color-secondary));
  background-image: linear-gradient(to left, $brand-color-secondary, $brand-color-secondary);
  background-repeat: no-repeat;

  &:hover,
  &:focus,
  &:active {
    color: $brand-color-tertiary;
    background-image: linear-gradient(to right, $brand-color-secondary, $brand-color-secondary);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

}

.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-transform: uppercase;

  > .icon {
    margin-right: 10px;
  }
}

.btn-icon-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: $btn-icon-fixed-width;
  height: $btn-icon-fixed-width;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  > .icon {
    width: 100%;
  }
}

.btn--shout {
  opacity: .7;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

}

.btn--small {
  padding: 0.68em 1.7em;
  font-size: 0.9em;
}

.btn--privacy {
  margin-top: 0;
  margin-bottom: 0;
}