/**
 * Table of Contents
 *
 * 1.0 - Normalize
 * 2.0 - Typo
 * 3.0 - Utilities
 * 3.0 - Icons
 * 4.0 - Buttons
 * 5.0 - Navigation
 *   5.1 - Navbar
 *   5.2 - Brand logo
 *   5.3 - Menu
 *   5.4 - Social links
 * 6.0 - Header
 * 7.0 - Section
 * 8.0 - Slider
 * 9.0 - Footer
 */


/**
 * 1.0 - Normalize
 *
 * Normalize.css makes browsers render all elements more
 * consistently and in line with modern standards.
 * It precisely targets only the styles that need normalizing.
 */
@import "normalize";

/**
 * 2.0 - Typo
 */
@import "types";

/**
 * 3.0 - Lists
 */
@import "lists";

/**
 * 3.0 - Icons
 */
@import "utilities";

/**
 * 3.0 - Icons
 */
@import "icons";

/**
 * 4.0 - Forms
 */
@import "forms";

/**
 * 4.0 - Buttons
 */
@import "buttons";

/**
 * 5.0 - Navigation
 */
@import "navigation";
@import "bullet-nav";

/**
 * 6.0 - Header
 */
@import "header";

/**
 * 7.0 - Sections
 */
@import "sections/section";
@import "sections/section-page";
@import "sections/section-gallery";
@import "sections/section-tour";
@import "sections/section-contact";
@import "sections/section-home";
@import "sections/section-bio";
@import "sections/section-music";
@import "sections/section-video";

@import "newsletter";

/**
 * 8.0 - Slider
 */
@import "slider";

/**
 * 8.0 - Pages
 */
@import "pages/404";
@import "pages/member";

/**
 * 9.0 - Footer
 */
@import "footer";

@import "scroll-down";

@import "magnific-popup";
@import "cookies";

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;

  > main {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

}